<!DOCTYPE html>
<html>
    <head>
        <title>Django - Multiple Files Upload</title>
    </head>
    <body>
		<div style="width: 500px; margin: auto;" class = 'card shadow'>
			<form action="" method="POST">
				{% csrf_token %}
				<label for="name" class="m-2">
					Name
				</label>
				<input type="text" name="name" placeholder ="Name" id=""><br>
				<label for="name" class="m-2">
					Select Files for upload
				</label>
				<input type="file" name="images" multiple id=""><br>


				<input type="submit" value="Upload" class="btn btn-primary">
			</form>

			
					
		</div>
    </body>
</html>